* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --clr-strong-cyan: hsl(172, 67%, 45%);
  /* Neutral Colors */
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  /* Body Copy */
  --fs-body-copy: 1.5rem;
  --fs-labels: 1.125rem;
}

body {
  font-size: var(--fs-body-copy);
  font-family: "Space Mono", monospace;
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-dark-grayish-cyan);
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  max-width: 75px;
  margin: 2rem auto;
}

main {
  border-radius: 2rem;
  background-color: var(--clr-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.input-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

input[type="text"] {
  font: inherit;
  text-align: right;
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-very-light-grayish-cyan);
  border: none;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.choose-tip {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.choose-tip li {
  background-color: transparent;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip-label {
  color: black;
}

.tip-button {
  appearance: none;
  background-color: var(--clr-very-dark-cyan);
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.tip-button:checked {
  background-color: var(--clr-strong-cyan);
}

@media (min-width: 50em) {
  .choose-tip {
    grid-template-columns: repeat(3, 1fr);
  }
}

.results {
  border-radius: 1rem;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-very-light-grayish-cyan);
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label {
  font-size: var(--fs-labels);
}

.label {
  font-size: var(--fs-labels);
}

.sublabel {
  font-size: calc(var(--fs-body-copy) * 0.6);
  color: var(--clr-grayish-cyan);
}

.results .result {
  font-size: calc(var(--fs-body-copy) * 1.5);
  color: var(--clr-strong-cyan);
  text-align: right;
}

.reset-button {
  font: inherit;
  font-size: var(--fs-labels);
  text-transform: uppercase;
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-strong-cyan);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.reset-button:hover {
  cursor: pointer;
  background-color: var(--clr-light-grayish-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
