* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-body-copy: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-dark-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-size: var(--fs-body-copy);
  background-color: var(--clr-light-grayish-cyan);
}

#bill-input {
  background: url(/images/icon-dollar.svg) no-repeat scroll 0.5rem 50%,
    var(--clr-very-light-grayish-cyan);
}

#party-input {
  background: url(/images/icon-person.svg) no-repeat scroll 0.5rem 50%,
    var(--clr-very-light-grayish-cyan);
}

#custom-tip {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
}

[type="text"] {
  background-color: var(--clr-very-light-grayish-cyan);
  border: none;
  width: 100%;
  font: inherit;
  color: var(--clr-very-dark-cyan);
  text-align: right;
  padding-right: 1rem;
}

[type="text"]:hover {
  cursor: pointer;
}

.logo {
  margin: 3rem 0;
}

main {
  background-color: var(--clr-white);
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

@media (min-width: 50em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    max-width: 800px;
  }
}

.input-elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-label {
  line-height: 2.5rem;
}

.results {
  background-color: var(--clr-very-dark-cyan);
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (min-width: 50em) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.button {
  appearance: none;
  font: inherit;
  display: flex;
  padding: 0.25rem 0.5rem;
  color: var(--clr-white);
  background-color: var(--clr-very-dark-cyan);
  border-radius: 0.25rem;
}

.button:hover {
  cursor: pointer;
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-light-grayish-cyan);
}

.button:checked {
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-strong-cyan);
}

[data-percentage]::before {
  content: attr(data-percentage) "%";
  margin: 0 auto;
}

.output {
  text-align: right;
}

.reset {
  grid-column: 1 / 3;
  font: inherit;
  display: flex;
  border: none;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--clr-very-dark-cyan);
  margin-top: auto;
  padding: 0.5rem 0;
}

.reset:not(:disabled) {
  background-color: var(--clr-strong-cyan);
}

.reset:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--clr-light-grayish-cyan);
}

[data-unresponsive="true"] {
  background-color: var(--clr-dark-grayish-cyan);
}

.result-label {
  line-height: 1.25rem;
}

.fs-medium {
  font-size: calc(var(--fs-body-copy) * 0.75);
}

.fs-small {
  font-size: calc(var(--fs-body-copy) * 0.625);
}

.fs-xlarge {
  font-size: calc(var(--fs-body-copy) * 1.75);
}

.fc-very-light {
  color: var(--clr-white);
}

.fc-light {
  color: var(--clr-light-grayish-cyan);
}

.fc-accent {
  color: var(--clr-strong-cyan);
}

.attribution {
  position: absolute;
  bottom: 0.125rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
